[Unit]
Description=Kerberos.io - Machinery - video surveillance

[Service]
Type=simple
ExecStart=/usr/bin/kerberosio
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
