<?xml version="1.0"?>
<kerberos>

    <instance>
        <name type="text">frontdoor</name>
        <logging type="bool">false</logging>
        <timezone type="timezone">Europe-Brussels</timezone>
        <capture file="capture.xml">RaspiCamera</capture>
        <stream file="stream.xml">Mjpg</stream>
        <condition file="condition.xml" type="multiple">Enabled</condition>
        <algorithm file="algorithm.xml">DifferentialCollins</algorithm>
        <expositor file="expositor.xml">Hull</expositor>
        <heuristic file="heuristic.xml">Sequence</heuristic>
        <io file="io.xml" type="multiple">Video</io>
        <cloud file="cloud.xml">S3</cloud>
    </instance>

</kerberos>
